* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunitoregular.woff") format("woff");
    src: url("../fonts/Nunitoregular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunitobold.woff") format("woff");
    src: url("../fonts/Nunitobold.woff2") format("woff2");
    font-weight: 800;
}

body {
    font-family: 'Nunito', sans-serif;
}

.layout {
    display: flex;
}

.sidebar {
    width: 250px;
    background: #F7F7F7;
    border-right: 1px solid #E2E2E2;
}

.logo {
    padding: 25px 81px;
    text-align: center;
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    padding: 0 17px;
}

.navigation-item.active a,
.navigation-item a:hover,
.navigation-item a:hover span,
.navigation-item a:hover path {
    background: #467DF2;
    border-radius: 5px;
    color: #fff;
    fill: #fff;
}

.navigation-item a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 13px 15px;
}

.navigation-item a span {
    color: #858796;
    font-size: 14px;
    line-height: normal;
    margin-left: 10px;
}

.navigation-item.active a span {
    color: #FFFFFF;
}

.feedback-block {
    position: fixed;
    gap: 6px;
    padding: 13px 12px;
    left: 17px;
    bottom: 17px;
    border-radius: 5px;
    max-width: 216px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.feedback-block:hover {
    border: 1px solid #467DF2;

}

.icon-container svg {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 6px;
}

.icon-container p {
    color: #4F4E4F;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.icon-container a {
    text-decoration: none;
}

.content {
    flex-grow: 1;
}

.header {
    background: #F7F7F7;
    padding: 16px 41px 14px 40px;
    display: flex;
    border-bottom: 1px solid #E2E2E2;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-info-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-info-menu {
    display: flex;
    cursor: pointer;
}

.header-info-menu:hover rect {
    fill: #467DF2;
}

.header-info-links {
    color: #858796;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.header-info-links:hover {
    color: #3D63D2;
}

.header-info-links a {
    text-decoration: none;
    color: #858796;
    font-size: 14px;
    line-height: normal;
}

.header-info-links a:hover {
    color: #3D63D2;
}

.header-info-links a:first-child {
    margin-right: 40px;
}

.header-info-tasks {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.header-info-tasks:hover .header-info-links-result{
    display: block;
}

.tasks-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.header-info-tasks .tasks-wrapper a {
    margin-right: 5px;
}

.header-info-links svg:hover path {
    fill: #3D63D2;
}

.header-info-links-result {
    display: none;
    position: absolute;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(102, 102, 102, 0.15);
    width: 150px;
    height: 113px;
    box-sizing: border-box;
    top: 36px;
}

.header-info-links-result-item {
    padding: 15px;
    color: #686464;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
}

.header-info-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-search {
    display: flex;
}

.header-search-container {
    position: relative;
}

.header-search-container svg {
    position: absolute;
    padding: 12px 10px 14px 20px;
    cursor: pointer;
}

.header-search-input {
    border-radius: 10px;
    border: 1px solid #E2E2E2;
    background: #EFEFF5;
    color: #000000;
    font-size: 14px;
    line-height: normal;
    padding: 10px 276px 11px 44px;

}

.header-search-input::placeholder {
    color: #B3B3B3;
}

.header-icon-statistics {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.header-icon-statistics:hover Path {
    fill: #467DF2
}

.button {
    border-radius: 10px;
    background: #467DF2;
    width: 83px;
    height: 40px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #2F54A3;
}

.main {
    padding: 25px 76px 93px 40px;
    background: #EDEEF3;
}

.main h1 {
    color: #4F4E4F;
    font-family: 'Nunitobold', sans-serif;
    font-size: 35px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 33px;
}

.container {
    padding-left: 35px;
    max-width: 1671px;
    width: 100%;
}

.main-items {
    background: #EDEEF3;
    margin: 20px 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main-item {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(102, 102, 102, 0.15);
    position: relative;
    width: 349px;
    display: inline-block;
}

.main-item img {
    border-radius: 10px 10px 0 0;
}

.main-item-text {
    color: #4F4E4F;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    margin: 19px 0 0 12px;
    border-radius: 5px;
    padding: 4px 10px;
    background: rgba(247, 247, 247, 0.80);
}

.main-item-text.published {
    background: #C6E0C3;
    color: #027900;
}

.main-item-text.error {
    background: rgba(255, 188, 188, 0.80);
    color: #DB0C0C;
}

.main-item:hover {
    filter: brightness(0.7);
}

.main-item h3 {
    color: #4F4E4F;
    font-family: 'Nunitobold', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    margin: 20px 26px;
    width: 296px;
}

.main-item p {
    color: #4F4E4F;
    font-size: 15px;
    line-height: 30px;
    margin: 8px 0 19px 26px;
}

.main-item-icons {
    margin: 19px 33px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.main-item-icons button {
    border: none;
    background: none;
}

.main-item-icons svg:hover path {
    fill: #467DF2;
}

.main-item-icons svg:hover ellipse {
    fill: #467DF2;
}

.right-sidebar {
    position: fixed;
    border: none;
    width: 186px;
    height: 49px;
    transform: rotate(-90deg);
    border-radius: 10px 10px 0 0;
    background: #467DF2;
    cursor: pointer;
    top: 40%;
    right: -79px;
}

.right-sidebar:hover {
    background: #2F54A3;
    right: -69px;
}

.right-sidebar-container {
    display: flex;
    align-items: center;
}

.right-sidebar span {
    color: #FFFFFF;
    font-size: 14px;
    line-height: normal;
    margin-left: 50px;
}

.right-sidebar-container svg {
    position: absolute;
    transform: rotate(90deg);
    margin: 10px 10px 10px 20px;
}

